/* 3.4 OFFER SECTION........................................................................................ */
 .offer-content {
    overflow: hidden;
}
.offer-item{
    width:30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8 ;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0%  5%;
}
.offer-item .icon{
    position: absolute;
    left:15px;
    top:26px;
    color:#6195ff;
}
.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: 1s;
}
.offer-item-desc {
 text-transform: capitalize;
 margin-bottom: 15px;
 line-height: 1.6;
 color: #999;
 }
 .offer-item.ltr:hover .offer-item-title{
     color: #fff;
 }