/* 3.3 PORTFOLIO SECTION....................................................................................... */
.portfolio {
    background-color: #e8e8e8;
}
.portfolio-content {
    overflow: hidden;
}
.portfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item.mg {
    margin: 0 5%;
}
.portfolio-item .layer-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition:opacity 1s;
}
.portfolio-item:hover .layer-content{
    opacity:1;
    visibility: visible;
}
 .layer-content .layer-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.layer-content .category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.layer-content-title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.layer-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
}
.layer-content a i{
    line-height: 40px;
}