/* 3.8 TESTIMONIAL SECTION.....................................................................................*/
.testimonial {
    position: relative;
    background-image: url(../images/zzz.png);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}   
.testimonial-content{
    overflow: hidden;
    width: 90%;
    margin: auto;
}
.testimonial-item {
    float: left;
    width: 50%;
    color: #fff;
    padding-right: 20px;
    padding-top: 55px;
    margin-bottom: 110px;
}
.testimonial-toplayer{
   padding:90px 20px 10px 150px;
   position:relative;
   line-height: 1.4;
   margin-bottom: 20px;
}
.testimonial-toplayer img{
   position: absolute;
   top: 82px;
   left: 65px;
   border-radius: 50%;
}
.testimonial-desc{
   text-transform: capitalize;
   line-height: 1.5;
   margin-left: 76px;
   font-size: 14px;
}
.testimonial-toplayer span{
   color: #6195ff;
}