/* ................................dropdown......................................... */
.navbar {
    background: black;
}
.navbar > h2{
    color:#fff;
    font-size: 22px;
    width:20%;
    /* علشان تاخد اول 20% من الشاشه بس والتانيه تاخد 80% منها  */
    /* background: yellow; */
    float: left;
    /* علشااان اجيبهم جنب بعض ميبقوش فوق بعض  */
}
.navbar  > ul{
    list-style: none;
    /* علشان الغى النقااط اللى بتبقى قبل اى يو أل */
    width:80%;
    /* background: red; */
    float: left;
    /* علشان اجيب اليو ال على يمين الاتش تو  */
}
* {
    margin: 0;
    padding: 0;
    /* علشان الغى المارجن والبادنج اللى بيعملهملى البراوزر تلقائى فوق العناصر */
}
.navbar > ul li {
    display: inline-block;
    /* علشان يخليلى عناصر الأل اى جنب بعض مش فووق بعض  */
    position: relative;
    /* علشان اخرج العناصر اللى هعملها دروب داون براا الحيز القديم بتاع اليو ال القديمه */
    width:100px;
}
.navbar > ul li a {
    color: green;
    text-decoration: none;
    /* علشان الغى الخط اللى تحت الكلام اللى بيعمله عنصر الa  */
    padding: 8px;
    display:block ;
    /*  علشان اخلى عناصر عناصر بلوك تاخد الودس بتاعها علشان تكمل الشكل (a)  */
}
.clear {
    clear:both;
    /* باجى بعد اخر عنصر فى الديف واخد فلوت واعمل دى علشان اخلى الاب يحس بابناءه ولونه يظهر كاامل  */
}
.navbar > ul li ul{
    position: absolute;
    /* علشان اخرج عناصر اليو أل الجديده اللى هعملها دروب داون برا الحيز القديم بتاع اليو أل */
    display: none;
    /* علشان اخفى اليو ال الجديده من الصفحه خاااالص -- هرجع ارجعها تحت لما اشاور عليهااااااااا */
}
.navbar  ul li a:hover  + ul {
    display: block;
    /* عكس دسبلاى نان - دسبلاى بلوك علشاااااااااااااااااان تظهر اليو ال لما اشاور على العنصر */
}
/* ...............................css form....................................... */
form input , form select {
    display:block;
    width:100%;
}
form input:focus{
    /* دى معناها لما ادوووووووووووووووس عليها يعمل كذا  */
    background: yellow;
}
/* ..............................after & before .................................. */
.lll {
    padding: 20px;
    list-style: none;
}
.lll li::before{
    /* علشان اضيف عنصر قبل العنصر بتاااعى اعمل نقطتين واكتب بيفور وكذلك بعدها بكتب أفتر */
    content:"";
    /* دا أسااااااااااااسى لو عاوز اضيف عنصر لان دى البنيه اللى هعمل فيها  */
    width:5px;
    height:5px;
    background: red;
    display: inline-block;
    /* لو عاوز اضيف العنصر الجديد جنبهاااااااااااااا وبلوك لو عاوز اضيفه رأسى */
    vertical-align: middle;
    /*  لو عاااوز اوسطن العنصر اللى ضيفته قبل العنصر بتاعى فى نصه   */
    margin-right:10px ;
}
/* ...........css  units.............px    em    rem     vh     vw    .......................... */
/* em (relative to parent element) / 2em=2*parent element px / 5em=5*parent element px */
/* rem (relative to root element) root=html default size=16px */
/* view height 50% from screen view  رأسى   */
/* view width 50% from screen view افقى  */
/* .................................GALLARY............................................... */
/* <a  href="pic.jpg" target="-blank">
            <img src="pic.jpg" width="120
            px" height="120px" alt="this is image"/>
        </a> */
        /*  كود استدعاء صوره وعند الضغط عليها تفتح فى صفحه جديده */
/*................................nesting...................................................*/
/* p.item  معناااهااا هاتلى العنصر أيتم اللى جوا عنصر البى فقطططططططط (لازم لازقيييييين ف بعض ) */
/* لو مش لازقين فى بعض معناها هات البى وهات كل اللى واخدين كلاس أيتم من الكود */
/* ......................................specificity........................................... */
/* styleinline   id   (class | pseudo class | attr selector)  element */
/* الأى دى يفووووز على الكلاس معناها ان الاى دى لو جه حتى قبل الكلاس هيتنفذ هوا مش الكلاس زى عادة السى اس اس */
 #kkk {
     background: red;
 }
 /* حسب المعادله اللى فوق قيمة الأى دى 0 1 0 0 */
 .kkk {
     background: blue;
 }
 /* حسب المعادله اللى فوق قيمة الكلاس 0 0 1 0 */
/* نفذ الأى دى ومنفذش الكلاس رغم ان الكلاس هو الأخير لان قوة الأى دى أعلى */
#demo  .test p [title="test"]:hover {
}
/* حسب المعادله قيمة الاستدعاء دا 0 1 3 1 */
/* الاستايل انلاين هو اقوى حاجه <div style="color:green  class=kkk>this is div</div> */